/* Learned this from w3schools.com, there tutorials are really great */

* {
  box-sizing: border-box;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 16.5%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
}

/* Responsive columns */
@media screen and (max-width: 1000px) {
  .column {
    width: 20%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .column {
    width: 25%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .column {
    width: 33%;
    display: block;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 16px 16px 16px;
  text-align: center;
  background-color: #847B7B;
  margin-bottom: 20px;
  box-shadow: 6px 6px 4px 0 rgba(4,4,4,0.5);
  border-radius: 5px;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(4,4,4,0.5);
}
@media screen and (max-width: 500px) {
  .card {
    width: 250px;
    display: inline-block;
    float: center;
  }
}

a{
  color: black;
  font-weight: 600;
  text-decoration: none;
}

p{
  text-align: left;
}
.dot {
  height: 50px;
  width: 50px;
  float: right;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,1);
}

.img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}