@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
* {
  box-sizing: border-box;  
}
html {
  background: rgba(black, 0.03);
  text-align: center;
}
body, html {
  height: 100%;
  height: 100vh;
  text-align: center;

}
body {
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-flex;
  flex-direction: column;
  margin: 10 auto;
}
.chat-output {
  width: 100vw;
  flex: 1;
  padding: 20px;
  display: flex;
  background: black;
  flex-direction: column;
}

div{
  padding-bottom: 7px;
}

.bot-message {
  text-align: right;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.us-message {
  background-color: blue;
  display: inline-block;
  background: #0FB0DF;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  max-width: 400px;
}


.intro-message {
  background: #eee;
  text-align: center;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 10px;
}
.user-message {
  text-align: left;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.reply-message {
  background: #eee;
    display: inline-block;
    padding: 12px 20px;
    max-width: 400px;
    border-radius: 20px;
}

.chat-input {
  padding: 5px;
  background: #eee;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.user-input {
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 4px;
}
.btnSubmit {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  background-color: green;
}
